---
layout: page
description: "Everywhere is walking distance if you have the time"
---

{% for post in paginator.posts %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
    </a>

    <p class="post-meta">
      {{ post.date | date: "%B %-d, %Y" }} {% if post.subtitle %} — {{ post.subtitle }} {% endif %}
      {% if post.index %}
        {% assign match = site.pages | where:"slug",post.categories.first %}
        {% assign page = match.first %}
        — Part {{ post.index }}{% if page.parts %}/{{page.parts}}{% endif %} of
        <a href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}">
          {{page.title}}
        </a>
        {% unless page.completed %}(ongoing){% endunless %}
      {% endif %}
    </p>
  </div>
  <hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
